*, html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.w-content {
  width: fit-content;
}

.h-content {
  height: fit-content;
}